//-----Navbar-----//
.navbar-brand {
  letter-spacing: 3px;
  color: #c24244;

}

nav {
  background-color: blanchedalmond;

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 0.3em 0.4em;
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 100%;
  background-color: red;
  border: 1px solid white;
  color: white;
  transform: scale(1);
}

.navbar .nav-link:focus,
.navbar .nav-link:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.nav-link:hover {
  color: #c24244;
}

//-----Header-----//
.bg-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../Assets/header-pic.jpeg");
  width: 100%;
  height: 673px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-text {
  position: relative;
  padding-top: 155px;
  font-size: large;
  color: #fff;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  color: white;
  padding-top: 145px;
  display: flex;
  justify-content: center;
}